html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: #EEE;
	background-color: #333;
}

/* Menu */
#header > h1 {
	margin: 10px 0 0 20px;
}

menu.main {
	padding: 0 0 0 20px;
}

menu.main ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

menu.main li {
	flex: 0 1 100px;
	background-color: #555;
	text-align: center;
}
menu.main a,
menu.main a:visited,
menu.main a:link {
	color: #CCF;
	text-decoration: none;
}
menu.main a:hover {
	color: #AAD;
	text-decoration: underline;
}

/* Content */
#content {
	display: flex;
	flex-direction: row-reverse;
}

#content section > h2 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}

#search,
#image,
#upload {
	min-height: 75vh;
	margin: 10px 0 0;
	min-width: 400px;
	flex-grow: 1;
}

#content > aside {
	margin: 0 30px 0 10px;
	min-width: 150px;
	flex-grow: 0;
	flex-shrink: 0;
}

#content > aside section {
	margin: 10px;
}

/* TAGS */
#tags ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 0;
}

#tags li { margin: 0; }
#tags a:link { color: lightblue; text-decoration: none; }
#tags a:link:hover { text-decoration: underline; }
#tags .wiki { margin-right: 10px; }
#tags .name { margin-right: 5px; }
#tags .post-count { color: #999; font-size: 0.8em; }

/* Content */
.post-preview {
	margin: 0 10px 10px 0;
	width: 154px;
	height: 154px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.post-preview > a {
    display: inline-block;
    vertical-align: baseline;
	margin: 0;
	padding: 0;
}
.post-preview > a > img {
	margin: auto;
    vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

/* Tag searchs */
.reply {
	display: inline-block;
	width: 100%;
}

.reply > .title {
	float: left;
}

.reply > .count {
	float: right;
}

#footer {
	text-align: center;
}