html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* Menu */
#header > h1 {
  margin: 10px 0 0 20px;
}

menu.main {
  padding: 0 0 0 20px;
}

menu.main ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

menu.main li {
  flex: 0 1 100px;
  text-align: center;
}

/* Content */
#content {
  display: flex;
  flex-direction: row-reverse;
}

#content section > h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

#search,
#image,
#wiki,
#upload {
  min-height: 75vh;
  margin: 10px 0 0;
  min-width: 400px;
  flex-grow: 1;
}

#content > aside {
  margin: 0 30px 0 10px;
  min-width: 150px;
  flex-grow: 0;
  flex-shrink: 0;
}

#content > aside section {
  margin: 10px;
}

@media screen and (max-width: 580px) {
  #content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: left;
  }
  #search,
  #image,
  #upload {
    margin: 5vw 0 0 5vw;
    min-width: 90vw !important;
  }

  #tags > ul {
    width: 90vw;
    max-height: 30vh;
    overflow-y: auto;
  }
}

/* TAGS */
#tags ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 0;
}

#tags li {
  margin: 0;
}
#tags .wiki {
  margin-right: 10px;
}
#tags .name {
  margin-right: 5px;
}
#tags .post-count {
  font-size: 0.8em;
}

.delete-picture button {
  margin-top: 20px;
}

/* View */
#image img.limit {
  max-width: 95%;
  max-height: 90vh;
}

/* Thumbnails */
.post-preview {
  margin: 0 10px 10px 0;
  width: 154px;
  height: 154px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.post-preview > a {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
.post-preview > a > img {
  margin: auto;
  vertical-align: middle;
  max-width: 154px;
  max-height: 154px;
}

/* Tag searchs */
.reply {
  display: inline-block;
  width: 100%;
}

.reply > .title {
  float: left;
}

.reply > .count {
  float: right;
}

/* page selection */
#image .navigation {
  margin: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#image .navigation a {
  display: block;
  text-decoration: inherit;
  color: inherit;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.1em 0;
  min-width: 1.5em;
  min-height: 1.25em;
  text-align: center;
  flex-wrap: nowrap;
}

.pages {
  margin: 10px 0px;
  width: 100%;
}

.pages > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pages li {
  margin: 0;
  padding: 0.1em 0;
  min-width: 1.5em;
  min-height: 1.25em;
  text-align: center;
  flex-wrap: nowrap;
}

.pages a {
  display: block;
  text-decoration: inherit;
  color: inherit;
  width: 100%;
  height: 100%;
}

#footer {
  text-align: center;
}
