/* Base */
body {
  color: #eee;
  background-color: #333;
}

/* Main menu */
menu.main li {
  background-color: #555;
}
menu.main a,
menu.main a:visited,
menu.main a:link {
  color: #ccf;
  text-decoration: none;
}
menu.main a:hover {
  color: #aad;
  text-decoration: underline;
}

/* Autocomplete */
.autocomplete ul,
.autocomplete ul li a {
  background: #222;
  color: #eee;
}

.autocomplete ul:before {
  border-bottom-color: #222;
}

.autocomplete ul li a:hover,
.autocomplete ul li.focus-list a {
  color: #333;
  background: #777;
}

/* Tags */
#tags a {
  text-decoration: none;
}
#tags a:hover {
  text-decoration: underline;
}
#tags .post-count {
  color: #999;
}

.tag {
  color: white;
}
.tag.all-type {
  color: lightblue;
}
.tag.no-type {
  color: lightblue;
}
.tag.author {
  color: purple;
}
.tag.character {
  color: darkgreen;
}

/* Page selection */
.pages li {
  border: 1px solid black;
  background-color: #555;
  color: #eee;
}

.pages li.selected {
  border: 1px solid white;
  background-color: #eee;
  color: #555;
}
